.container {
    max-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;

    padding: 56px 60px;

    .main_content {
        width: 100%;
        height: 100%;

        border-radius: 12px;

        background-color: black;

        .banner {
            width: 100%;
            height: 100%;

            color: white;

            background-image: url("../../../sources/images/banner/banner_2.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            
            border-radius: 12px;

            .banner_cover {
                width: 100%;
                height: 100%;

                border-radius: 12px;

                background-color: rgba(0, 0, 0, 40%);

                transition: all .7s ease;

                .banner_content {
                    width: 100%;
                    height: 100%;
                    padding: 40px 16px 20px 96px;

                    .banner_content_box {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .banner:hover {
            .banner_cover {
                background-color: rgba(0, 0, 0, 60%);
            }
        }

        .cards_full_banner {
            display: none;
        }
    }
}